.main {
  padding: 2rem;
  margin: 0 auto;
  flex-direction: column;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
  font-family: sans-serif;
}

/* Contenedor de las 4 Columnas */
.masonryContainer {
  display: flex;
  gap: 1.25rem; /* Espacio horizontal entre columnas */
  align-items: flex-start;
}

.masonryColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.25rem; /* Espacio vertical entre imágenes */
}

/* --- RESPONSIVIDAD --- */

/* Pantallas medianas/Laptop (oculta la 4ta columna si se reduce la pantalla) */
@media (max-width: 1100px) {
  .col3 {
    display: none;
  }
}

/* Tablets (pasa a 2 columnas) */
@media (max-width: 768px) {
  .col2 {
    display: none;
  }
}

/* Celulares (pasa a 1 columna) */
@media (max-width: 480px) {
  .col1 {
    display: none;
  }
}
