.main {
  padding: 2rem;
  margin: 0 auto;
  flex-direction: column;
  width: 100%;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
  font-family: sans-serif;
}

.masonryContainer {
  columns: 4;
  column-gap: 1.25rem;
}

.masonryItem {
  break-inside: avoid;
  margin-bottom: 1.25rem;
}

@media (max-width: 1100px) {
  .masonryContainer {
    columns: 3;
  }
}

@media (max-width: 768px) {
  .masonryContainer {
    columns: 2;
  }
}

@media (max-width: 480px) {
  .masonryContainer {
    columns: 2;
  }
}