.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  backdrop-filter: blur(4px);
}

.modal {
  background: #fff;
  padding: 2rem;
  border-radius: 16px;
  width: max(450px, 50%);
  max-height: 90%;
  position: relative;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  font-family: sans-serif;
}

.closeBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  background: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.buttonGroup {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}

.pngBtn,
.pdfBtn {
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.pngBtn {
  background-color: #ff751f;
  color: white;
}

.pdfBtn {
  background-color: #005580;
  color: white;
}

.pngBtn:disabled,
.pdfBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.flexSection {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

.containerInputs {
  min-width: 50%;
}

@media (max-width: 500px) {
  .flexSection {
    gap: 1rem;
    flex-wrap: wrap;
  }
  .modal {
    overflow: auto;
  }
}
